/* Box du header */

.header1 {
  background-color: #192954;
  box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.75);
  padding: 20px 40px;
  height: 80px;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.header1 .header2 {
  max-width: 1200px;
  margin: 0 auto;
}


.header1 .header2 h1 {
  font: normal 28px Cookie, Arial, Helvetica, sans-serif;
  line-height: 40px;
  margin: 0;
}

.header1 .header2 h1 span {
  color: #5383d3;
}

.header1 .header2 nav{
  font:16px Arial, Helvetica, sans-serif;
  line-height: 40px;
  float: right;
}

.header1 .header2 nav a{
  display: inline-block;
  padding: 0 5px;
  text-decoration:none;
  font-size: 16px;
  opacity: 0.9;
}

.logo {
  width: 70px;
  height: 70px;
  position: absolute;
  left: 0.7%;
  top: 6%;
}

#cont {display: flex;
       align-items: flex-start;
       justify-content: flex-end;}

body {margin:0;
  padding:0;

}

.footer {
  background-color: #192954;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
  padding: 20px 40px;
  height: 120px;
  box-sizing: border-box;
  position: relative;
    top: 100px;
}


.copy {
  color: white;
  font-family: arial, sans-serif;
  font-size: 14px;}

.tableau {
  width: 100%;
    height: 500px;
}

.hvr-shrink {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.hvr-glow {
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: box-shadow;
  color: #ffffff;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 10px 10px 56px 0px rgba(0,0,0,0.75);
color: #608bd2;}

.inlink {width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
         z-index: 9999999999;
         opacity: 0; 
}

/*Code de David*/

.image2 {
    width: 350px;
    height: 400px;
}

.textcase {
    width: 700px;
    height: 200px;
    margin-top: 0px;        
}

.url {
   display: flex;
   justify-content: center;
   color: white;
   text-decoration: none;    
}

.pjeux {
    font-size: 25px;
    font-family: "Arial", sans-serif;
    color: white;    
}

.h1jeux {
   font-size: 50px;    
    font-family: fantasy;
    color: blue;
    text-shadow: 5px 5px black;
}

.tdjeux {    
    width: 300;
    height: 300;    
    text-align: center;         
}

.trjeux {    
    border-style: solid;
    border-color: transparent;
    border: 200%;
    background-color: #192954;
}

.tablejeux {
    margin: auto;
   margin-bottom: 1%;
    border-collapse: collapse;
}

.align {
  display: flex;
  justify-content: space-around;
}

/*Css de Yasser*/

.tdjoueurs {
        width: 300;
        height:300;
        text-align: center;
   animation: animationFrames linear 2s;
  animation-iteration-count: 3;
  transform-origin: 50% 100%;
  -webkit-animation: animationFrames linear 2s;
  -webkit-animation-iteration-count: 3;
  -webkit-transform-origin: 50% 100%;
  -moz-animation: animationFrames linear 2s;
  -moz-animation-iteration-count: 3;
  -moz-transform-origin: 50% 100%;
  -o-animation: animationFrames linear 2s;
  -o-animation-iteration-count: 3;
  -o-transform-origin: 50% 100%;
  -ms-animation: animationFrames linear 2s;
  -ms-animation-iteration-count: 3;
  -ms-transform-origin: 50% 100%;
}

@keyframes animationFrames{
  0% {
    transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  20% {
    transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  30% {
    transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  40% {
    transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  50% {
    transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  60% {
    transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  70% {
    transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  80% {
    transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  90% {
    transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  100% {
    transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    -moz-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    -moz-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  20% {
    -moz-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  30% {
    -moz-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  40% {
    -moz-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  50% {
    -moz-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  60% {
    -moz-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  70% {
    -moz-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  80% {
    -moz-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  90% {
    -moz-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  100% {
    -moz-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    -webkit-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  20% {
    -webkit-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  30% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  40% {
    -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  50% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  60% {
    -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  70% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  80% {
    -webkit-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  90% {
    -webkit-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  100% {
    -webkit-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
  }
}

@-o-keyframes animationFrames {
  0% {
    -o-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    -o-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  20% {
    -o-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  30% {
    -o-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  40% {
    -o-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  50% {
    -o-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  60% {
    -o-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  70% {
    -o-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  80% {
    -o-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  90% {
    -o-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  100% {
    -o-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    -ms-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    -ms-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  20% {
    -ms-transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  30% {
    -ms-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  40% {
    -ms-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  50% {
    -ms-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  60% {
    -ms-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  70% {
    -ms-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  80% {
    -ms-transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  90% {
    -ms-transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  100% {
    -ms-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
  }
}    .trjoueurs {
        border-style: solid;
        border-color: transparent;
        border:200%;
       background-color: #192954;

 }
 .tablejoueurs {
    margin: auto;
    margin-bottom: 1%;
    border-collapse: collapse;
    color: white;

 }
.image{
    width: 160px;
    height: 160px; 
    
}
.textcasejoueurs {
    width: 600px;
    height: 100px;
    font-family: "Arial" , sans-serif
}
.bodyjoueurs {
    margin: 0;
    padding: 0;
}
.h1joueurs {
    font-size: 25px;
    font-family: "Arial" , sans-serif;
    color: black;
}

.table {width: 100%;}

.tablegray {background-color: #eaebef;
          height: 70px;
}

.tableblue {background-color: #192954;
            height: 70px;
}

.news {font-size: 16px;
    font-family: "Arial" , sans-serif;
    text-decoration:none;
}

.textdecob {text-decoration:none;
           color: white;
}

.textdecon {text-decoration: none;
            color: black;
}

.footerb {
  background-color: #192954;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
  padding: 20px 40px;
  height: 120px;
  box-sizing: border-box;
  position: relative;
}
