/* Box du header */

.header1 {
	background-color: #192954;
	box-shadow: 2px 4px 14px 0px rgba(0,0,0,0.75);
	padding: 20px 40px;
	height: 80px;
	box-sizing: border-box;
	position: fixed;
	width: 100%;
	z-index: 100;
}
.header1 .header2 {
	max-width: 1200px;
	margin: 0 auto;
}


.header1 .header2 h1 {
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header1 .header2 h1 span {
	color: #5383d3;
}


/*.header1 .header2 a {
	color: #ffffff;
}*/

.header1 .header2 nav{
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header1 .header2 nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	font-size: 16px;
	opacity: 0.9;
}

.logo {
	width: 70px;
	height: 70px;
	position: absolute;
	left: 0.7%;
	top: 6%;
}

#cont {display: flex;
       align-items: flex-start;
       justify-content: flex-end;}

body {margin:0;
	padding:0;

}

.footer {
	background-color: #192954;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px 40px;
	height: 120px;
	box-sizing: border-box;
	position: relative;
    top: 100px;
}


.copy {
	color: white;
	font-family: arial, sans-serif;
	font-size: 14px;}

.tableau {
	width: 100%;
    height: 500px;
}

.hvr-shrink {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.hvr-glow {
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: box-shadow;
  color: #ffffff;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 10px 10px 56px 0px rgba(0,0,0,0.75);
color: #608bd2;}

/*Code de David*/

.image2 {
    width: 550px;
    height: 400px;
}

.textcase {
    width: 700px;
    height: 200px;
    margin-top: 0px;        
}

.url {
   display: flex;
   justify-content: center;   
   color: white;
   text-decoration: none;
   border: solid;
   border-color: white;
}

.pjeux {
    font-size: 20px;
    font-family: "Arial", sans-serif;
    color: white;    
}

.h1jeux {
   font-size: 50px;    
    font-family: fantasy;
    color: blue;
    text-shadow: 5px 5px black;
}

.tdjeux {    
    width: 400;
    height: 300;    
    text-align: center;         
}

.trjeux {    
    border-style: solid;
    border-color: transparent;
    border: 200%;
    background-color: #192954;
}

.tablejeux {
    margin: auto;
   margin-bottom: 1%;
    border-collapse: collapse;
}

.align {
  display: flex;
  justify-content: space-around;
}

/*Css de Yasser*/

.tdjoueurs {
        width: 300;
        height:300;
        text-align: center;
    }
    .trjoueurs {
        border-style: solid;
        border-color: transparent;
        border:200%;
        background-color: #192954;
 }
 .tablejoueurs {
    margin: auto;
    margin-bottom: 1%;
    border-collapse: collapse;
    color: white; 
 }
.image{
    width: 160px;
    height: 160px; 
    
}
.textcase {
    width: 700px;
    height: 100px;
    font-family: "Arial" , sans-serif
}
.bodyjoueurs {
    margin: 0;
    padding: 0;
}
.h1joueurs {
    font-size: 25px;
    font-family: "Arial" , sans-serif;
    color: black;
}

.table {width: 100%;}

.tablegray {background-color: #eaebef;
	        height: 70px;
}

.tableblue {background-color: #192954;
            height: 70px;
}

.news {font-size: 16px;
    font-family: "Arial" , sans-serif;
    text-decoration:none;
}

.textdecob {text-decoration:none;
           color: white;
}

.textdecon {text-decoration: none;
            color: black;
}

